h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.color-item {
  color: white;
  width: 200px;
  margin: 20px;
  padding: 20px;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
